<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
            src="https://kit.fontawesome.com/38cd4014df.js"
            crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.css">
    <link rel="stylesheet" href="css/main.css">
    <title>MyProject | Sign up</title>
</head>
<body>

<div class="container-fluid col-12 mt-1 text-center main-container">
    <div class="e-nav-container">
        <ul class="col-12 e-nav-list">
            <li class="col-lg-4 col-md-12 col-sm-12 e-nav-item">
                <a href="" class="nav-link  text-left e-nav-link d-flex">
                    <img src="img/logo/123.jpg" width="50" height="50" class="e-profile-img" alt="profile picture">
                    <p class="ml-2 e-par">Emin Israfilzadeh</p>
                </a>
            </li>
            <li class="col-lg-3 col-md-12 col-sm-12 e-nav-item">
                <div class="dropdown">
                    <button class="btn dropdown-toggle e-main-dropdown" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-clipboard mr-2"></i>Posts
                    </button>
                    <div class="dropdown-menu e-dd-content" aria-labelledby="dropdownMenuButton">
                        <a href="#" class="dropdown-item"><i class="fas fa-edit mr-2"></i>Manage your posts</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-heart mr-2"></i>View your wishlist</a>
                    </div>
                </div>
            </li>
            <li class="col-lg-3 col-md-12 col-sm-12 e-nav-item">
                <a href="#mission" class="nav-link e-nav-link"><i class="fas fa-envelope mr-2"></i>Messages</a>
            </li>
            <li class="col-lg-2 col-md-12 col-sm-12 e-nav-item">
                <a href="#adv" class="nav-link e-nav-link"><i class="fas fa-sign-out-alt mr-2"></i>Sign out</a>
            </li>
        </ul>
    </div>
    <div class="e-search-container">
        <form method="post" class="e-form">
            <ul class="col-12 e-search-list">
                <li class="col-lg-4 col-md-4 col-sm-12 e-search-item">
                    <input type="search" class="form-control e-input" placeholder="Enter your keyword">
                </li>
                <li class="col-lg-4 col-md-4 col-sm-12 e-search-item">
                    <label for="category-sel" class="col-2">in</label>
                    <select class="custom-select col-lg-9 col-md-9 col-sm-12 e-input" id="category-sel">
                        <option>Pet</option>
                        <option>Pet</option>
                        <option>Pet</option>
                    </select>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-12 e-search-item">
                    <input type="submit" value="Search" class="col-12 btn e-submit">
                </li>

            </ul>
        </form>
    </div>
    <div class="col-12 e-chat-container d-flex flex-wrap p-0">
        <div class="col-lg-3 col-md-3 col-sm-12 p-0 e-chat-left">
            <a href="#" class="card-link d-flex flex-wrap flex-wrap m-0">
                <div class="col-2 m-0 p-0 e-chat-user-img">
                    <img src="img/logo/123.jpg" width="50" height="50" alt="">
                </div>
                <div class="col-10 d-flex flex-wrap justify-content-start p-0 pl-2 e-chat-user">
                    <h5 class="col-12 text-left m-0 p-0 e-chat-sender">Emin Israfilzadeh</h5>
                    <p class="col-7 d-inline-block text-left p-0 m-0 e-chat-text">Hi, How are you?</p>
                    <p class="col-5 d-inline-block text-right font-italic p-0 m-0 pr-1 e-chat-date">20.06.2020 15:00</p>
                </div>
            </a>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 e-chat-right">
            <div class="e-chat-right-top m-0 pb-1 mt-1 d-flex flex-wrap">
                <h3 class="col-lg-10 col-md-10 col-sm-8 text-left e-submit m-0 p-0 e-chat-header">Emin Israfilzadeh</h3>
                <form method="post" class="col-lg-2 col-md-2 col-sm-4 m-0 p-0 text-right e-form">
                    <button type="submit" name="e-chat-header-button" class="btn btn-warning m-0" value="report"><i
                            class="fas fa-exclamation"></i></button>
                    <button type="submit" name="e-chat-header-button" class="btn btn-danger m-0" value="block"><i
                            class="far fa-times-circle"></i></button>
                </form>
            </div>
            <div class="e-chat-body">
                <form method="post" class="mb-5 e-form">
                    <button type="submit" name="all-messages" style="z-index: 5" class="btn btn-sm e-submit">See all
                        messages
                    </button>
                </form>
                <div class="col-12 d-flex flex-wrap justify-content-end mb-2  e-chat-sent">
                    <div class="col-lg-5 col-md-5 col-sm-12  btn btn-primary">
                        <p class="col-12 m-0 p-0 text-left e-chat-text-body">Hi how are you bro?</p>
                        <p class="col-12 m-0 p-0 text-right e-chat-text-date">20.06.2020 15:00</p>
                    </div>
                </div>
                <div class="col-12 d-flex flex-wrap justify-content-start mb-2  e-chat-received">
                    <div class="col-lg-5 col-md-5 col-sm-12 btn btn-success">
                        <p class="col-12 m-0 p-0 text-left e-chat-text-body">Hi how are you bro?</p>
                        <p class="col-12 m-0 p-0 text-right e-chat-text-date">20.06.2020 15:00</p>
                    </div>
                </div>
                <div class="col-12 d-flex flex-wrap justify-content-end mb-2  e-chat-sent">
                    <div class="col-lg-5 col-md-5 col-sm-12  btn btn-primary">
                        <p class="col-12 m-0 p-0 text-left e-chat-text-body">Hi how are you bro?</p>
                        <p class="col-12 m-0 p-0 text-right e-chat-text-date">20.06.2020 15:00</p>
                    </div>
                </div>
                <div class="col-12 d-flex flex-wrap justify-content-start mb-2  e-chat-received">
                    <div class="col-lg-5 col-md-5 col-sm-12 btn btn-success">
                        <p class="col-12 m-0 p-0 text-left e-chat-text-body">Hi how are you bro?</p>
                        <p class="col-12 m-0 p-0 text-right e-chat-text-date">20.06.2020 15:00</p>
                    </div>
                </div>
                <div class="col-12 d-flex flex-wrap justify-content-end mb-2  e-chat-sent">
                    <div class="col-lg-5 col-md-5 col-sm-12  btn btn-primary">
                        <p class="col-12 m-0 p-0 text-left e-chat-text-body">Hi how are you bro?</p>
                        <p class="col-12 m-0 p-0 text-right e-chat-text-date">20.06.2020 15:00</p>
                    </div>
                </div>
                <div class="col-12 d-flex flex-wrap justify-content-start mb-2  e-chat-received">
                    <div class="col-lg-5 col-md-5 col-sm-12 btn btn-success">
                        <p class="col-12 m-0 p-0 text-left e-chat-text-body">Hi how are you bro?</p>
                        <p class="col-12 m-0 p-0 text-right e-chat-text-date">20.06.2020 15:00</p>
                    </div>
                </div>
                <div class="col-12 d-flex flex-wrap justify-content-end mb-2  e-chat-sent">
                    <div class="col-lg-5 col-md-5 col-sm-12  btn btn-primary">
                        <p class="col-12 m-0 p-0 text-left e-chat-text-body">Hi how are you bro?</p>
                        <p class="col-12 m-0 p-0 text-right e-chat-text-date">20.06.2020 15:00</p>
                    </div>
                </div>
                <div class="col-12 d-flex flex-wrap justify-content-start mb-2  e-chat-received">
                    <div class="col-lg-5 col-md-5 col-sm-12 btn btn-success">
                        <p class="col-12 m-0 p-0 text-left e-chat-text-body">Hi how are you bro?</p>
                        <p class="col-12 m-0 p-0 text-right e-chat-text-date">20.06.2020 15:00</p>
                    </div>
                </div>
            </div>
            <div class="e-chat-right-bottom mb-2">
                <form method="post" class="col-12 d-flex flex-wrap e-form">
                    <textarea name="message" class="col-lg-10 col-md-10 col-sm-12 p-3 e-input e-chat-msg"
                              style="resize: none" placeholder="Enter your message"></textarea>
                    <input name="send" type="submit" class="col-lg-2 col-md-2 col-sm-12 btn e-submit"
                           style="background-color: #0062cc;
                           border-top-left-radius: 0;
                           border-bottom-left-radius: 0;" value="Send">
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 e-ad-container">

    </div>

    <footer class="col-12 mt-3 e-footer-container" id="contact">
        <section class="col-lg-4 col-md-4 col-sm-12 e-footer-content">
            <ul class="col-12 e-footer-list">
                <li class="col-12 my-1 e-footer-item"><a href="#" class="page-link"><i
                        class="fas fa-user-edit col-2"></i>Manage your account</a></li>
                <li class="col-12 my-1 e-footer-item"><a href="#" class="page-link"><i class="fas fa-edit col-2"></i>Manage
                    your posts</a></li>
            </ul>
        </section>
        <section class="col-lg-4 col-md-4 col-sm-12 e-footer-content">
            <ul class="col-12 e-footer-list">
                <li class="col-12 my-1 e-footer-item"><a href="#" class="page-link"><i
                        class="fas fa-exclamation-triangle col-2"></i>Send feedback</a></li>
            </ul>
        </section>
        <section class="col-lg-4 col-md-4 col-sm-12 e-footer-content">
            <ul class="col-12 e-footer-list">
                <li class="col-12 my-1 e-footer-item"><a class="page-link" href="#"><i
                        class="fab fa-facebook-f col-2"></i>Facebook</a></li>
                <li class="col-12 my-1 e-footer-item"><a class="page-link" href="#"><i
                        class="fab fa-instagram col-2"></i>Instagram</a></li>
                <li class="col-12 my-1 e-footer-item"><a class="page-link" href="#"><i class="fab fa-twitter col-2"></i>Twitter</a>
                </li>
            </ul>
        </section>
    </footer>
    <div class="col-12 mt-3 e-copyright-container alert alert-danger pb-0">
        <p class="col-12 e-copyright-text">
            <i class="far fa-copyright mr-2"></i>
            All rights reserved | You should have permission by author for using any information or data provided by
            this website. <br>
            This website is made by Emin Israfilzadeh
        </p>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>