<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
            src="https://kit.fontawesome.com/38cd4014df.js"
            crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/main.css">
    <title>MyProject | Sign up</title>
</head>
<body>

<div class="container-fluid col-12 mt-5 text-center signup-container">
    <div class="col-12 text-center form-header">
        <div class="form-logo col-12">
            <img src="img/logo/123.jpg" class="logo-img" width="300" height="100">
        </div>
        <h3 class="col-12 form-title">We would be happy to know what you think about us.<br>
            Please help us to improve ourselves</h3>
    </div>

    <form method="post" class="col-lg-7 col-md-7 col-sm-12 form-group d-inline-block e-form">
        <textarea cols="40" rows="10" style="resize: none" name="feedback" required class="col-12 form-control e-input" placeholder="Write your opinion"></textarea>
        <input name="req" type="submit" value="Send" class="col-12 form-control mb-2 e-submit">
        <a href="/dashboard" class="card-link col-12 form-control">Back to Dashboard</a>
    </form>
</div>


<script src="js/bootstrap.bundle.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>