<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
            src="https://kit.fontawesome.com/38cd4014df.js"
            crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>MyProject | Sign up</title>
</head>
<body>

<div class="container-fluid col-12 mt-5 text-center signup-container">
    <div class="col-12 text-center form-header">
        <div class="form-logo col-12">
            <img src="img/logo/123.jpg" class="logo-img" width="300" height="100">
        </div>
        <h1 class="col-12 form-title">Reset password</h1>
    </div>

    <form method="post" class="col-lg-3 col-md-6 col-sm-12 form-group d-inline-block e-form">
        <div th:if="${(param.error != null) and (param.error[0] == 'emptyinput')}" class="d-block col-12 alert alert-danger">
            Please fill both fields. Try again
        </div>

        <div th:if="${(param.error != null) and (param.error[0] == 'passnotmatch')}" class="d-block col-12 alert alert-danger">
            Passwords does not match. Please try again
        </div>

        <div th:if="${(param.sent != null) and (param.sent[0] == 'true')}" class="alert alert-success">
            Please check your email
        </div>
        <div th:if="${(param.sent != null) and (param.sent[0] == 'false')}" class="alert alert-danger">
            Email does not exist
        </div>
        <input name="email" required type="email" class="col-12 form-control e-input" placeholder="Enter your email">
        <input name="req" type="submit" value="Send request" class="col-12 form-control mb-2 e-submit">
        <a href="#" class="card-link col-12 form-control">Back to login</a>
    </form>
</div>


<script src="js/bootstrap.bundle.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>